* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: url("./../../assets/textura.png");
    background-color: $body-color;
}

.defaultLayout-container {
    max-width: 1600px;
    width: 90%;
    min-height: calc(100vh - 100px);
    height: fit-content;
    margin: 0 auto;
    margin-top: 100px;
}